header {
    background-color: $header-bg;
    box-shadow: $box-shadow;
    .header{
        &__bottom{
            background-color: $white;
            text-align: right;
            padding-top: 6px;
            padding-bottom: 6px;
            // border-bottom: 1px solid $border-color;
            &-link{
                color: $body-color;
                @include hover{
                    color: $primary;
                }
            }
        }
    }
    .navbar{
        &-toggler{
            color: $primary;
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }
}