#banner {
  .banner {
    &__slide {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      &-item {
        padding: 8rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba($black, 0.6);
        }
      }

      &-content {
        position: relative;
        color: $white;
        max-width: 570px;
        margin: 0 auto;
      }

      &-title {
        text-transform: uppercase;
        @include font-size(60);
        font-weight: bold;
        margin-bottom: 30px;
      }

      &-text {
        margin-bottom: 30px;
      }
    }
  }

  .slick {
    &-arrow {
      &::before {
        color: $white;
        @include font-size(30);
      }
    }

    &-dots {
      bottom: 80px;
    }
  }
}

#lenders {
  padding-top: 50px;
  padding-bottom: 25px;

  .lenders {
    &__title {
      text-align: center;
      margin-bottom: 30px;
      @include font-size(38);

      span {
        display: inline-block;
        position: relative;
        padding-bottom: 15px;

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          width: 80px;
          height: 5px;
          background-color: $primary;
        }
      }
    }

    &__slide {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      &--bg {
        background-color: $light;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      &-item {
        background-color: $white;
        margin: 0 15px;
        border-radius: 10px;
        box-shadow: 0 3px 12px rgba($black, 0.06);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      &-img {
        max-width: 100%;
        margin: 0 auto;
      }

      .slick {
        &-prev {
          left: -15px;
        }

        &-next {
          right: -15px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 100px;
    padding-bottom: 50px;
    .lenders {
      &__slide {
        &--bg {
          padding-top: 30px;
          padding-bottom: 30px;
        }
        .slick {
          &-prev {
            left: -25px;
          }
  
          &-next {
            right: -25px;
          }
        }
      }
    }
  }
}

#reason {
  padding-top: 25px;
  padding-bottom: 50px;

  .reason {
    &__title {
      @include font-size(38);
      margin-bottom: 15px;

      span {
        display: inline-block;
        position: relative;
        padding-bottom: 15px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 80px;
          height: 5px;
          background-color: $primary;
        }
      }
    }

    &__list {
      list-style: none;
      padding-left: 0;
      margin-bottom: 35px;
      display: flex;
      flex-wrap: wrap;

      &-item {
        width: 50%;
        padding-left: 20px;
        position: relative;
        @include font-size(20);
        margin-top: 15px;
        margin-bottom: 15px;

        &::before {
          @include font-icon("\f054");
          position: absolute;
          left: 0;
          color: $primary;
        }
      }
    }

    &__slide {
      list-style: none;
      padding-left: 0;

      &-item {
        margin: 0 15px;
      }

      .slick {
        &-prev {
          left: -15px;
        }

        &-next {
          right: -15px;
        }
      }
    }
  }

  .card {
    padding: 20px 15px;
    border-radius: 10px;
    border-color: $primary;

    &-img {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      object-fit: cover;
      margin: 0 auto 10px;
    }

    &-title,
    &-subtitle {
      @include font-size(13px);
      font-weight: normal;
      text-align: center;
    }

    &-subtitle {
      font-style: italic;
      color: $secondary;
    }

    &-text {
      color: $secondary;
    }
  }

  @include media-breakpoint-up(lg){
    padding-top: 50px;
    padding-bottom: 100px;
    .reason{
      &__title{
        text-align: center;
        span{
          &::before{
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      &__slide{
        .slick {
          &-prev {
            left: -25px;
          }
  
          &-next {
            right: -25px;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .reason {
      &__list {
        &-item {
          width: 100%;
        }
      }
    }

    .card {
      &-subtitle {
        margin-bottom: 10px;
      }

      &-text {
        text-align: center;
      }
    }
  }
}

#goal {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $light;

  .goal {
    &__title {
      @include font-size(38);
      margin-bottom: 30px;

      span {
        display: inline-block;
        position: relative;
        padding-bottom: 15px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 80px;
          height: 5px;
          background-color: $primary;
        }
      }
    }

    &__img {
      position: relative;

      &-main,
      &-shadow {
        max-width: 100%;
      }

      &-shadow {
        position: absolute;
        top: 10px;
        right: 10px;
        filter: blur(18px);
        opacity: 0.6;
      }

      &-main {
        position: relative;
        border-radius: 10px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 100px;
    padding-bottom: 100px;
    .goal {
      &__img {
        margin-bottom: 50px;
      }
    }
  }
}

#apply {
  .apply {
    &__title {
      text-align: center;
      color: $white;
      @include font-size(38);
      margin-bottom: 30px;

      span {
        display: inline-block;
        position: relative;
        padding-bottom: 15px;

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          width: 80px;
          height: 5px;
          background-color: $dark;
        }
      }
    }

    &__nav {
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: $primary;

      .nav {
        &-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-basis: 0;
          flex-grow: 1;
          text-align: center;
        }

        &-img {
          margin-bottom: 20px;
        }

        &-link {
          background-color: $dark;
          color: $white;
          border-radius: 10rem;
          font-weight: bold;
          @include font-size(20);
          border: 1px solid $dark;

          &.active {
            background-color: $white;
            color: $body-color;
          }
        }
      }
    }

    &__content {
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: $light;

      &__img {
        position: relative;
        margin-bottom: 50px;

        &-main,
        &-shadow {
          max-width: 100%;
        }

        &-shadow {
          position: absolute;
          top: 10px;
          right: 10px;
          filter: blur(18px);
          opacity: 0.6;
        }

        &-main {
          position: relative;
          border-radius: 10px;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .apply {
      &__nav {
        padding-top: 80px;
        padding-bottom: 80px;
        .nav {

          &-item {
            &:not(:last-child) {
              margin-bottom: 30px;
            }
          }
        }
      }
      &__content{
        padding-top: 80px;
        padding-bottom: 80px;
      }
    }
  }
}

#mortgage {
  padding-top: 50px;
  padding-bottom: 50px;

  .mortgage {
    &__title {
      @include font-size(38);
      margin-bottom: 30px;

      span {
        display: inline-block;
        position: relative;
        padding-bottom: 15px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 80px;
          height: 5px;
          background-color: $primary;
        }
      }
    }
  }

  .card {
    background-color: $light;
    border-radius: 10px;
    border-width: 0;

    &-img {
      border-radius: 10px;
      margin-bottom: 15px;
    }

    &-title,
    &-subtitle {
      @include font-size(13);
    }

    &-subtitle {
      font-weight: normal;
      font-style: italic;
    }
  }
  @include media-breakpoint-up(lg){
    padding-top: 100px;
    padding-bottom: 100px;
  }
}